* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-bg-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

#header {
  background-image: url("../img/wall.png");
  min-height: 120px;
}

.title {
  text-align: center;
  font-size: 80px;
  padding: 1rem 0;
  font-family: "Edu Tas Beginner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#main {
  background-image: url("../img/cork.png");
  min-height: 600px;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col-1 {
  width: calc(100% / 12 * 1);
  padding: 1rem;
  flex-grow: 1;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 1rem;
  height: 100%;
}

.col-3 {
  width: calc(100% / 12 * 3);
  padding: 1rem;
  height: 100%;
}

.col-4 {
  width: calc(100% / 12 * 4);
  padding: 1rem;
  height: 100%;
}

.col-5 {
  width: calc(100% / 12 * 5);
  padding: 1rem;
  height: 100%;
}

.col-6 {
  width: calc(100% / 12 * 6);
  padding: 1rem;
  height: 100%;
}

.col-7 {
  width: calc(100% / 12 * 7);
  padding: 1rem;
  height: 100%;
}

.col-8 {
  width: calc(100% / 12 * 8);
  padding: 1rem;
  height: 100%;
}

.col-9 {
  width: calc(100% / 12 * 9);
  padding: 1rem;
  height: 100%;
}

.col-10 {
  width: calc(100% / 12 * 10);
  padding: 1rem;
  height: 100%;
}

.col-11 {
  width: calc(100% / 12 * 11);
  padding: 1rem;
  height: 100%;
}

.col-12 {
  width: calc(100% / 12 * 12);
  padding: 1rem;
  height: 100%;
}

.card {
  background-color: var(--card-bg-color);
  position: relative;
  padding: 1rem;
}

date {
  font-family: "Sometype Mono", "monospace";
}

#img-title {
  font-family: "Edu Tas Beginner", sans-serif;
}

#pin {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}

.card-body p {
  padding: 0.7rem 0;
  font-family: "Edu Tas Beginner", sans-serif;
}
