* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-bg-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#overlay img {
  width: 25%;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

#header {
  background-image: url("../img/wall.png");
  min-height: 120px;
}

#close {
  background-color: transparent;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  left: 77%;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  font-size: 80px;
  padding: 1rem 0;
  font-family: "Edu Tas Beginner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#main {
  background-image: url("../img/cork.png");
  min-height: 800px;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col-1 {
  width: calc(100% / 12 * 1);
  padding: 1rem;
  flex-grow: 1;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 1rem;
  height: 100%;
}

.col-3 {
  width: calc(100% / 12 * 3);
  padding: 1rem;
  height: 100%;
}

.col-4 {
  width: calc(100% / 12 * 4);
  padding: 1rem;
  height: 100%;
}

.col-5 {
  width: calc(100% / 12 * 5);
  padding: 1rem;
  height: 100%;
}

.col-6 {
  width: calc(100% / 12 * 6);
  padding: 1rem;
  height: 100%;
}

.col-7 {
  width: calc(100% / 12 * 7);
  padding: 1rem;
  height: 100%;
}

.col-8 {
  width: calc(100% / 12 * 8);
  padding: 1rem;
  height: 100%;
}

.col-9 {
  width: calc(100% / 12 * 9);
  padding: 1rem;
  height: 100%;
}

.col-10 {
  width: calc(100% / 12 * 10);
  padding: 1rem;
  height: 100%;
}

.col-11 {
  width: calc(100% / 12 * 11);
  padding: 1rem;
  height: 100%;
}

.col-12 {
  width: calc(100% / 12 * 12);
  padding: 1rem;
  height: 100%;
}

.card {
  background-color: var(--card-bg-color);
  position: relative;
  padding: 1rem;
}

date {
  font-family: "Sometype Mono", "monospace";
}

#img-title {
  font-family: "Edu Tas Beginner", sans-serif;
}

#pin {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}

.card-body p {
  padding: 0.7rem 0;
  font-family: "Edu Tas Beginner", sans-serif;
}

/*MEDIA QUERIES*/

/*TABLET*/
@media screen and (max-width: 992px) {
  .col-1-md {
    width: calc(100% / 12 * 1);
    flex-grow: 1;
  }

  .col-2-md {
    width: calc(100% / 12 * 2);
  }

  .col-3-md {
    width: calc(100% / 12 * 3);
  }

  .col-4-md {
    width: calc(100% / 12 * 4);
  }

  .col-5-md {
    width: calc(100% / 12 * 5);
  }

  .col-6-md {
    width: calc(100% / 12 * 6);
  }

  .col-7-md {
    width: calc(100% / 12 * 7);
  }

  .col-8-md {
    width: calc(100% / 12 * 8);
  }

  .col-9-md {
    width: calc(100% / 12 * 9);
  }

  .col-10-md {
    width: calc(100% / 12 * 10);
  }

  .col-11-md {
    width: calc(100% / 12 * 11);
  }

  .col-12-md {
    width: calc(100% / 12 * 12);
  }

  .title {
    font-size: 70px;
    padding: 0.8rem 0;
  }
}

/*MOBILE*/

@media screen and (max-width: 698px) {
  .col-1-sm {
    width: calc(100% / 12 * 1);
    flex-grow: 1;
  }

  .col-2-sm {
    width: calc(100% / 12 * 2);
  }

  .col-3-sm {
    width: calc(100% / 12 * 3);
  }

  .col-4-sm {
    width: calc(100% / 12 * 4);
  }

  .col-5-sm {
    width: calc(100% / 12 * 5);
  }

  .col-6-sm {
    width: calc(100% / 12 * 6);
  }

  .col-7-sm {
    width: calc(100% / 12 * 7);
  }

  .col-8-sm {
    width: calc(100% / 12 * 8);
  }

  .col-9-sm {
    width: calc(100% / 12 * 9);
  }

  .col-10-sm {
    width: calc(100% / 12 * 10);
  }

  .col-11-sm {
    width: calc(100% / 12 * 11);
  }

  .col-12-sm {
    width: calc(100% / 12 * 12);
  }

  .title {
    font-size: 80px;
    padding: 0.6rem 0;
  }
}
